.hidden {
    display: none;
}

img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

body {
    background-color: antiquewhite;
}

#clock {
    text-align: center;
    /* 수평 가운데 정렬 */
    position: absolute;
    /* 절대 위치 설정 */
    top: 30%;
    /* 부모 요소의 상단에서 50% 떨어진 위치 */
    left: 50%;
    /* 부모 요소의 왼쪽에서 50% 떨어진 위치 */
    transform: translate(-50%, -50%);
    /* 요소의 중심을 중앙으로 이동 */
    font-size: 4rem;
    background-color: rgb(0, 0, 0);
    color: white;
    border-color: white;
    border-style: dashed;
    border-radius: 2rem;
    
}

#login-form {
    background-color: white;
}

#greeting {
    background-color: white;
    text-align: center;
}

#todo-form {
    width: 2rem;
    height: 2rem;
}

#quote {
    background-color: white;
    text-align: center;
}

#weather {
    background-color: white;
    border-style: dashed;
}

#todo-list {
    background-color: white;
    margin-top: 8rem;
}